{% extends "base.html" %}

{% block title %}
简单oj-题库
{% endblock %}

{% block content %}
<div class="container mt-4">
    <form action="{{ url_for('index')}}" method="GET">
    <label for="searchbar" class="form-label m-4 fs-4">题目搜索</label> 
    <div class="input-group">
    <input class="form-control col-auto" name="keyword" value="{{ keyword }}" placeholder="type here to search ..." id="searchbar">
    <button class="btn btn-primary col-auto" type="submit">search</button>
    </form>
    </div>
</div>
<div class="container mt-4">
    <h1>题库</h1>
    <div class="list-group">
        <div class="row text-center">
            <div class="col-1">题目id</div>
            <div class="col-6">题目名字</div>
            <div class="col-1">题目难度</div>
            <div class="col-4 text-center">题目标签</div>
        </div>
    </p>
        {% for problem in problems.items %}
            <a href="{{url_for('detail',id=problem.id)}}" class="list-group-item list-group-item-action">
                <div class="row text-center">
                    <div class="col-1">{{ problem.id }}</div>
                    <div class="col-6">{{ problem.title }}</div>
                    <div class="col-1">{{ problem.difficulty }}</div>
                    <div class="col-4">{{ problem.category }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="container">
    <ul class="pagination mt-4 justify-content-end">
    {% if problems.has_prev %}
    <li class="page-item"><a href="{{ url_for('index', page=problems.prev_num, keyword=keyword)}}" class="page-link">上一页</a></li>
    {% endif %}
    {% if problems.has_next %}
    <li class="page-item"><a href="{{ url_for('index', page=problems.next_num, keyword=keyword)}}" class="page-link">下一页</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}